@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
* {
  font-family: "Droid Sans", "Calibri", sans-serif;
  font-size: 1em;
}

@media all {
  body {
    color: black;
    background-color: white;
  }

  form {
    margin: auto;
    margin-top: 2vh;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px black solid;
    box-shadow: 0 0 7px black;
    width: 95%;
  }

  table {
    width: 100%;
    line-height: 2em;
    padding: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border-collapse: collapse;
  }

  thead {
    background-color: #EDFCFF;
    border-bottom: 2px dashed rgba(33, 150, 243, 0.39);
  }

  thead input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-size: 1.5em;
    font-style: italic;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    color: #00BCD4;
  }

  thead input[type=text]::-webkit-input-placeholder {
    color: #00BCD4;
  }

  thead input[type=text]:-moz-placeholder {
    color: #00BCD4;
  }

  thead input[type=text]::-moz-placeholder {
    color: #00BCD4;
  }

  thead input[type=text]:-ms-input-placeholder {
    color: #00BCD4;
  }

  thead input[type=text]:placeholder-shown {
    color: #00BCD4;
  }

  thead input:hover, thead input:focus {
    border-color: #21d8ff;
    box-shadow: 0 0 5px #1b8fad;
    border-width: 2px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  thead img {
    outline: none;
    margin: 1px;
    height: 60%;
    padding-right: 5px;
    filter: hue-rotate(88deg);
    -webkit-filter: hue-rotate(88deg);
    -moz-filter: hue-rotate(88deg);
    -o-filter: hue-rotate(88deg);
    transition: all 0.3s ease-in-out;
  }

  thead img:hover {
    filter: hue-rotate(40deg);
    -webkit-filter: hue-rotate(40deg);
    -moz-filter: hue-rotate(40deg);
    -o-filter: hue-rotate(40deg);
  }

  thead td:first-child {
    padding-left: 5px;
    padding-top: 1px;
  }

  thead td:last-child {
    margin: auto;
    text-align: right;
  }

  tbody tr {
    border: 1px solid #E4E4E4;
    transition: all 0.3s ease-in-out;
  }

  tbody tr td:first-child {
    padding: 5px;
  }

  tbody tr td:last-child {
    text-align: right;
    padding-right: 10px;
  }

  tfoot button {
    width: 99.5%;
    height: 3rem;
    margin-top: 1rem;
    background-color: #00cbd3;
    color: white;
    outline: none;
    margin-bottom: 0.25rem;
    margin-left: auto;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    word-spacing: 10px;
    box-shadow: 0 1px 5px #B7B4B4;
    cursor: hand;
    letter-spacing: 0.5rem;
    text-shadow: 1px 2px 4px rgba(245, 245, 245, 0.76);
    transition: all 0.5s ease-in-out;
  }
  tfoot button:hover {
    color: #00cbd3;
    background-color: rgba(229, 245, 247, 0.42);
    text-shadow: 0 2px 3px rgba(165, 165, 165, 0.1);
  }

  .rowHover {
    border: 1px solid rgba(61, 190, 228, 0.32);
    color: #6B6B6B;
    background-color: rgba(126, 217, 220, 0.48);
  }

  .newRow {
    color: #585858;
    background-color: rgba(22, 255, 0, 0.12);
  }
}

/*# sourceMappingURL=style.css.map */
